<div class='main'>
  <div class='main-contents'>
    <div class='contents'>
      <h3>編集画面</h3>
      <%= form_with(model: @bath, local: true) do |f| %>
        <%= render 'shared/error_messages', model: @bath %>
        <div><%= f.text_field :title, class:'title-form', placeholder: "タイトル", size: 71 %></div>
        <div><%= f.text_area :text, class:'content-form', placeholder: "内容", size: "70×40" %></div>
        <div><%= f.submit "送信" %></div>
        <div><%=link_to 'もどる', baths_path(@bath.id), class:"back-btn" %></div>
      <% end %>
  </div>
</div>