<div class='main'>
  <div class='main-contents'>
    <div class='article-box'>
      <div class='article-title'>
        <%= @bath.title %>
      </div>
      <div class='article-text'>
        <%= @bath.text %>
      </div>
      <div class='edit-btn'>
        <% if @bath.user.id == current_user.id %>
          <%= link_to '編集する', edit_bath_path(@bath.id), class: "edit-btn", method: :get %>
        <% end %>
      </div>
      <div class='comment-form'>
        <% if user_signed_in? %>
          <%= form_with(model: [@bath, @bacomment], local: true) do |f| %>
            <div><%= f.text_area :text, placeholder: "記事についての質問・コメントをこちらに記入してください", size: "70×40" %></div>
            <div class='submit-btn'><%= f.submit "送信" %></div>
          <% end %>
        <% else %>
          <p>※質問・コメントはログインが必要です</p>
        <% end %>
      </div>
      <div class='comments'>
        <div class='comment-title'>質問・コメント一覧</div>
        <div class='comment-text'>
        <% if @bacomments %>
          <% @bacomments.each do |comment| %>
            <p>
              <%= comment.user.nickname %>さん:
              <%= comment.text %>
            </p>
         <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
