<header class='top-page-header'>
      <div class='mini-title'>
        <%= link_to 'おそうじ事典', root_path %></div>
      <div class='lists-left'>
      </div>
      <div class='nav'>
        <ul class='lists-right'>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
            <span>さん</span>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "log-in" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
        </ul>
      </div>
</header>
<div class='main'>
  <div class='main-contents'>
    <div class='contents'>
      <h3>編集画面</h3>
      <%= form_with(model: @toilet, local: true) do |f| %>
      <%= render 'shared/error_messages', model: @toilet %>
        <div><%= f.text_field :title, class:'title-form', placeholder: "タイトル", size: 71 %></div>
        <div><%= f.text_area :text, class:'content-form', placeholder: "内容", size: "70×40" %></div>
        <div><%= f.submit "送信" %></div>
        <div><%=link_to 'もどる', toilet_path, class:"back-btn" %></div>
      <% end %>
    </div>
  </div>
</div>