<div class='main'>
  <div class='main-contents'>
    <div class="contents">
      <%= form_with(url: toilets_path, method: :post, local: true) do |f| %>
      <%= render 'shared/error_messages', model: @toilet %>
        <div><%= f.text_field :title, class:'title-form', placeholder: "タイトル", size: 71 %></div>
        <div><%= f.text_area :text, class:'content-form', placeholder: "内容", size: "70×40" %></div>
        <div><%= f.submit "投稿する", class:"send-btn" %></div>
        <div><%=link_to 'もどる', toilets_path, class:"back-btn" %></div>
      <% end %>
    </div>
  </div>
</div>